.wrapper {
    margin: 0 auto;
    width: calc(100% - 380px);
}

.header__wrapper {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__wrapper {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login__wrapper {
   position: relative;
    height: 84vh;
}

.account__wrapper {
    width: 800px;
}