.two_column_model {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.personal_data__container {
  padding: 20px 50px;
  border: 1px solid $color-button-dark;
  border-radius: 10px;
  margin-top: 40px;
}

.view__content {
  border: 1px solid $color-button-dark;
  border-radius: 5px;
  padding: 5px 10px;
  margin-top: 5px;
}

.text_group {
  margin-right: 10px;
}

.ticket__container {
  background-color: rgba(197, 215, 255, 0.55);
  padding: 20px 50px;
  border: 1px solid $color-button-dark;
  border-radius: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.town_group {
  display: flex;
}

.arrow {
  margin-right: 10px;
}

