$color-background-pink: #F6CDE9;
$color-button-dark: #132C64;
$color-label: #38486C;
$color-white: #ffffff;
$color-button-hover: #061C4D;
$color-developed: #0C1E49;
$color-label: #38486C;
$color-pink-light:  #FFF8F8;

