<div th:fragment="header" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="wrapper header__wrapper">
        <div class="logo">
            <a href="/"><img src="/assets/logo/Logo.svg" alt=""></a>
        </div>
<!--        <p sec:authorize="isAuthenticated()">аывфдлаоыфааолфыдаоыфлдаыфоа</p>-->
        <div sec:authorize="!isAuthenticated()" class="login">
            <a th:href="'/login'"><button class="button button_dark login_button">Вход</button></a>
        </div>
        <p sec:authorize="hasRole('ADMIN')">jsalkdfjas;lkfsjdfklsafjsalkdf;sd</p>
        <div class="account" sec:authorize="isAuthenticated()">
            <a th:href="'/account'"><button class="button button_dark account_button">Профиль
                <img src="/assets/logo/account.svg" alt="" class="account_icon"></button></a>
        </div>

    </div>
</div>