<div th:fragment="header" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="wrapper header__wrapper">
        <div class="logo">
            <a href="/"><img src="/assets/logo/Logo.svg" alt=""></a>
        </div>
        <div sec:authorize="!isAuthenticated()" class="login">
            <a th:href="'/login'"><button class="button button_dark login_button">Вход</button></a>
        </div>
        <div class="edit" sec:authorize="hasRole('ADMIN')">
            <a th:href="'/admin'"><button class="button button_dark account_button">
            Редактировать</button>
            </a>
            <form th:action="@{/logout}" th:method="POST">
                <input class="nav-link active border-warning button button_dark logout_button" type="submit" value="Выйти">
            </form>
        </div>
        <div class="account" sec:authorize="hasRole('USER')">
            <a th:href="'/account'"><button class="button button_dark account_button">Профиль
                <img src="/assets/logo/account.svg" alt="" class="account_icon"></button></a>
        </div>

    </div>
</div>