.button {
  border: none;
  border-radius: 5px;
}

.button_dark {
  background-color: $color-button-dark;
  color: $color-white!important;

  &:hover {
    background-color: $color-button-hover;
  }
}

.login_button {
  width: 122px;
  height: 38px;
}

.cost_button {
  width: 242px;
  height: 74px;
  font-size: 22px;
}

.account_button {
  width: 140px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.admin_button {
  margin-top: 10px;
  width: 185px;
  height: 44px;
  font-size: 18px;
}

.logout_button {
  margin-left: 10px;
  width: 80px;
  height: 38px;
}


